<div class="banner-tour" style="background-image: url('<%= @tour.photo %>')">
  <div class="banner-content text-center" >
    <h2><%= @tour.name %></h2>
  </div>
</div>
<div class="wrapper-yellow">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-8">
        <div class="card-basic card-back-white card-height-300">
          <h3><%= t('.tour_description') %></h3>
          <p><span><i class="fas fa-map-marker-alt"></i> <%= @tour.location %></span></p>
          <div class="tour-description-paragraph">
            <p><%= @tour.description %></p>
          </div>
        </div>
        <div class="card-back-white card-basic">
          <div class="tour-guide">
          <h3><%= t('.your_guide') %></h3>
            <div class="icon-small">
              <%= link_to guide_path(@tour.guide) do %> <i class="fas fa-user-circle"></i>
              <% end %>
            </div>
          </div>
          <div class="tour-guide">
            <%= cl_image_tag(@tour.guide.photo, class: "avatar")%>
          <div class="guide-description">
            <h4><%= @tour.guide.name %></h4>
            <p><%= @tour.guide.small_description %></p>
          </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-4">
        <div class="tour-booking card-back-white card-height-auto card-basic">
          <h3><%= t('.book_now') %></h3>
         <div class="booking-form">
           <%= render 'bookings/form', tour: @tour, booking: @booking %>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>

