<div class="banner">
  <div class="banner-content text-center">
    <h1>Bici Bike Berlin</h1>
    <h3><%= t('.discover_berlin') %></h3>
    <div class="banner-button">
      <%= link_to root_path, class: "btn btn-success" do  %>
        <%= t('.all_tours') %>
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper-white">
  <div class="container">
    <div class="row">
      <h3 class="wrapper-title text-center"><%= t('.popular_tours') %></h3>
      <% @tours.each do |tour| %>
        <div class="col-xs-12 col-sm-4">
        <div class="card-back">
          <div class="card-tour" style="background-image: url('<%= cl_image_path tour.photo %>');background-position: center; background-size: cover;">
              <div class="card-description">
                <div class="right-card">
                  <h4 class="card-title"><%= tour.name %></h4>
                  <p class="card-location"><i class="fas fa-map-marker-alt"></i> <%= tour.location %></p>

                </div>
                <button class="btn btn-success">More</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="wrapper-yellow">
  <div class="container">
    <h3 class="wrapper-title text-center"><%= t('.why_visit') %></h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
          <div class=" description-element text-center">
            <h4 class="subtitle-white"><%= t('.authentic_experience') %></h4>
            <p class="paragraph-white"><%= t('.authentic_experience_description') %></p>
          </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="card-back-white">
          <div class="card-image card-offset-right" style="background-image: url(<%= image_path('bike-wall.jpg') %>)">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
        <div class="card-back-white">
          <div class="card-image card-offset-left" style="background-image: url(<%= image_path('bikes.jpg') %>)">
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-5">
          <div class="description-element text-center">
            <h4 class="subtitle-white"> <%= t('.away_from_the_masses') %></h4>
            <p class="paragraph-white"><%= t('.away_from_the_masses_text') %></p>
          </div>
      </div>
    </div>
  </div>
</div>
