<div class="banner">
  <div class="banner-content text-center">
    <h1>Bici Bike Berlin</h1>
    <h3><%= t('.discover_berlin') %></h3>
    <div class="banner-button">
      <%= link_to root_path, class: "btn btn-success" do  %>
        <%= t('.all_tours') %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <h3><%= t('.popular_tours') %></h3>
  </div>
  <div class="row">
    <h3><%= t('.why_visit') %></h3>
  </div>
</div>
